LOCAL = 0
DB_HOST = 127.0.0.1
DB_NAME =
DB_USER =
DB_PASS =

TG_API_ID =
TG_API_HASH =
API_TOKEN =
ORIGIN = https://tg-dice-bot.avallon.im/

RELEASE_UTC_DATETIME =

NODE_API_URL =
# ./manage.py generate_encryption_key
SECRET_KEY =
MNEMONIC_ENCRYPTION_KEY =

